html[data-theme='dark'] {
  background: var(--bgColor);
  --iconMode: url(https://cdn1.iconfinder.com/data/icons/traveling-2-flat/32/Sun-512.png);
  --bgColor: #242731;
  --textColor: #777987;
  --textColorHover: #EDECF9;
  --bgColorHover: #6C61D0;
  --bgBorder: #373A43;
  --titleColor: #FEFEFE;
  --shadowColor: 0px 0px 10px 1px #1716165c;
  --inputTitle: #fff;
  --inputSub: #7E808F;
  --inputBg: #2C2E38;
  --stockColor: #f1f2f2;
  --bgToggle: rgb(4, 17, 35);
  --bgTitleEdit: #3a3939 ;
  --buttonsCustom: #fff;
}

html[data-theme='clean'] {
  background: var(--bgColor);
  --iconMode: url(https://cdn.iconscout.com/icon/free/png-256/moon-1522720-1289406.png);
  --bgColor: #FEFEFE;
  --textColor: #808291;
  --textColorHover: #FFFFFF;
  --bgColorHover: #6C61D0;
  --bgBorder: #E4E4E4;
  --titleColor: #11152C;
  --shadowColor: 0px 0px 10px -5px #b5a5b5;
  --inputTitle: rgb(2, 2, 2);
  --inputSub: #7E808F;
  --inputBg: #FAFAFA;
  --stockColor: #1d1d1d;
  --bgToggle:#f5f5f5;
  --bgTitleEdit: #eeeaea;
  --buttonsCustom: #000;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  body,
  html {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.side-container.mobile {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

@media only screen and (max-width: 768px) {
  .side-container.mobile {
    background: var(--bgColor);
  }
}

.side {
  width: 20%;
  height: 100%;
  background: var(--bgColor);
}

@media only screen and (max-width: 768px) {
  .side {
    width: 100%;
    height: 53px;
    background: var(--bgColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: var(--shadowColor);
            box-shadow: var(--shadowColor);
    position: fixed;
    z-index: 200;
  }
}

.side-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .side-mobile {
    display: block;
  }
}

.side-container {
  border-right: 1px solid var(--bgBorder);
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .side-container {
    position: fixed;
    top: 3.1rem;
    left: 0;
    overflow: auto;
    width: 100%;
    text-align: center;
    background: var(--bgColor);
    z-index: 10;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.side-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%;
  color: var(--titleColor);
}

@media only screen and (max-width: 768px) {
  .side-container-title {
    width: 100%;
  }
}

.side-container-title__titled {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5rem;
}

.side-container-subtitle {
  width: 80%;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.side-container-subtitled {
  font-size: 0.8125rem;
  color: #808291;
}

.side-container-img {
  max-width: 32px;
}

.side-container-list {
  list-style: none;
  padding-right: 1rem;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2rem;
  width: 80%;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--bgBorder);
}

.side-container li {
  padding: 0.8rem;
  border-radius: 8px;
}

.side-container li:hover {
  background: var(--bgColorHover);
  color: var(--textColor);
}

.side-container li:hover a,
.side-container li:hover i {
  color: var(--textColorHover);
}

.side-container li i {
  color: var(--textColor);
}

.side-container li a {
  color: var(--textColor);
  text-decoration: none;
  font-size: 0.8125rem;
  margin-left: 10px;
  font-weight: 500;
}

.side-container li a:hover {
  color: var(--textColorHover);
}

.side-container .personal-list {
  margin-bottom: 1em !important;
}

.side-container .personal-list-item::after {
  content: "2";
  text-align: center;
  padding: 3px 0px 0px 0px;
  font-size: 0.625rem;
  color: #fff;
  margin-left: 1rem;
  width: 20px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: #ff764c;
}

.side-container-toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.side-container-toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 20px;
  background-color: var(--bgToggle);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 100px;
}

.side-container-toggle label::before {
  content: "";
  background-image: var(--iconMode);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 70px;
}

.side-container-toggle label::after {
  content: "";
  background-color: #0461bf;
  width: 12px;
  height: 12px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 4px;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.side-container-toggle label:checked + label {
  background-color: #ffffff;
}

.side-container-toggle input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.middle {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .middle {
    width: 95%;
  }
}

.middle-container {
  width: 68%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .middle-container {
    width: 95%;
  }
}

.middle-container--text {
  color: var(--titleColor);
}

@media only screen and (max-width: 768px) {
  .middle-container--text {
    margin-top: 3rem;
  }
}

.middle-container--text__title {
  color: var(--titleColor);
  margin: 0.3125rem;
}

@media only screen and (max-width: 768px) {
  .middle-container--text__title {
    width: 95%;
    margin-top: 5rem;
  }
}

.middle-container--text__subtitle {
  color: var(--titleColor);
  margin: 1.3125rem 0rem;
}

.middle-container--banner {
  background-color: #6C61D0;
  background-image: url(/banner.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 200px;
  padding: 0.5rem 4rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-container--banner__title {
  font-size: 1.75rem;
  color: #fff;
  font-weight: 500;
  margin: 0.3125rem;
}

.middle-container--banner__subtitle {
  color: #fff;
  margin: 1.3125rem 0rem;
  font-weight: 100;
}

.middle-container--banner__btn {
  width: 135px;
  height: 45px;
  font-weight: 500;
  background-color: #fff;
  color: --lightBg;
  font-family: 'Roboto', sans-serif;
  border-radius: 14px;
  border: none;
}

.middle-content {
  background-color: var(--bgColor);
  -webkit-box-shadow: var(--shadowColor);
          box-shadow: var(--shadowColor);
  width: 65%;
  margin: 0 auto;
  border-radius: 14px;
  margin-top: 2.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .middle-content {
    width: 90%;
  }
}

.middle-content-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .middle-content-filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.middle-content-filters__selects {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .middle-content-filters__selects {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.middle-content-filters__selects select {
  border: 0;
  height: 41px;
  margin-right: 1rem;
  background-color: var(--inputBg);
  border-radius: 10px;
  color: #808291;
  width: 45%;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  .middle-content-filters__selects select {
    width: 100%;
  }
}

.middle-content-filters__search {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .middle-content-filters__search {
    width: 100%;
  }
}

.middle-content-filters__search .search-icon {
  display: inline-block;
  position: relative;
  width: 100%;
}

.middle-content-filters__search input {
  border: 0;
  height: 41px;
  background-color: var(--inputBg);
  border-radius: 10px;
  color: #808291;
  width: 265px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  .middle-content-filters__search input {
    width: 100%;
  }
}

.middle-content-filters__buttons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .middle-content-filters__buttons {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 1rem;
  }
}

.middle-content-filters__buttons .fa-pen-alt, .middle-content-filters__buttons .fa-trash-alt {
  color: var(--buttonsCustom);
}

.middle-content-table__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid var(--bgBorder);
}

@media only screen and (max-width: 768px) {
  .middle-content-table__head {
    display: none;
  }
}

.middle-content-table__head div {
  width: 40%;
  color: #B2B3BD;
  font-size: 13px;
  font-weight: 400;
}

.middle-content-table__head div:nth-child(1) {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-content-table__head--second {
  width: 85% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1rem !important;
}

.middle-content-table__head--second .fa-save {
  display: none;
}

.middle-content-table__content {
  font-size: 0.8125rem;
}

.middle-content-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--bgBorder);
  text-align: center;
  padding: 2rem 1rem;
}

@media only screen and (max-width: 768px) {
  .middle-content-table__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.middle-content-table__row--checkboxs {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-content-table__row--title {
  width: 45% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 0rem 0rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .middle-content-table__row--title {
    width: 85% !important;
  }
}

.middle-content-table__row--title input {
  height: 16px;
  border-radius: 0;
  border: 1px solid var(--bgBorder);
  margin-bottom: 5px;
  background: #eee;
  font-family: 'Roboto', sans-serif;
}

.middle-content-table__row--title input:disabled {
  border: none;
  background: transparent;
}

.middle-content-table__row--colors {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--stockColor);
}

@media only screen and (max-width: 768px) {
  .middle-content-table__row--colors {
    width: 50%;
  }
}

.middle-content-table__row--colors p {
  margin: 0 0 0 0.3125rem;
}

.middle-content-table__row--ratings {
  color: #83bc7f;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .middle-content-table__row--ratings {
    width: 50%;
  }
}

.middle-content-table__row--prices {
  color: #6179EB;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .middle-content-table__row--prices {
    width: 50%;
  }
}

.middle-content-table__row--inputs {
  width: 60%;
  text-align: left;
}

.middle-content-table__row--inputs__title {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--inputTitle);
}

.middle-content-table__row--inputs__subtitle {
  color: var(--inputSub);
}

.middle-content-table__row--stock {
  width: 20% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--stockColor);
}

@media only screen and (max-width: 768px) {
  .middle-content-table__row--stock {
    width: 50%;
  }
}

.middle-content-table__row div img {
  width: 60px;
  padding-right: 1rem;
}
/*# sourceMappingURL=style.css.map */