body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
  body,
  html {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.side.mobile {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.side {
  width: 20%;
  height: 100%;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 112px;
    background: #7eb4e2;
    z-index: 10;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.side-container {
  border-right: 1px solid #d6d5d5;
  height: 100%;
}

.side-container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.side-container-title__titled {
  font-size: 2rem;
  margin: 0.5rem;
}

.side-container-subtitle {
  width: 80%;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.side-container-subtitled {
  font-size: 12px;
}

.side-container-img {
  max-width: 32px;
}

.side-container-list {
  list-style: none;
  padding-right: 1rem;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eaeaea;
}

.side-container li {
  padding: 0.8rem;
  border-radius: 8px;
}

.side-container li:hover {
  background: #6C61D0;
  color: #fff;
}

.side-container li a {
  color: #808291;
  text-decoration: none;
  font-size: 0.75rem;
  margin-left: 10px;
}

.side-container li a:active {
  color: #fff;
}

.side-container li a:hover {
  color: #fff;
}

.middle {
  width: 80%;
}

.middle-container {
  width: 65%;
  margin: 0 auto;
}

.middle-container--banner {
  background-color: #6C61D0;
  height: 200px;
  padding: 0.5rem 4rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-container--banner__title {
  font-size: 1.75rem;
  color: #fff;
  font-weight: 500;
  margin: 0.3125rem;
}

.middle-container--banner__subtitle {
  color: #fff;
  margin: 1.3125rem 0rem;
  font-weight: 100;
}

.middle-container--banner__btn {
  width: 135px;
  height: 45px;
  font-weight: 500;
  background-color: #fff;
  color: --lightBg;
  font-family: 'Roboto', sans-serif;
  border-radius: 14px;
  border: none;
}

.middle-content {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px -5px #b5a5b5;
          box-shadow: 0px 0px 10px -5px #b5a5b5;
  width: 65%;
  margin: 0 auto;
  border-radius: 14px;
  margin-top: 2.5rem;
}

.middle-content-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
}

.middle-content-filters select,
.middle-content-filters input {
  border: 0;
  height: 41px;
  background-color: #f7f7f7;
  border-radius: 10px;
  color: #808291;
  width: 265px;
  font-family: 'Roboto', sans-serif;
}

.middle-content-filters select:not(input),
.middle-content-filters input:not(input) {
  width: 155px;
}

.middle-content-table table {
  width: 100%;
}

.middle-content-table table td {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
}

.middle-content-table table td img {
  max-width: 20px;
  vertical-align: middle;
}

.middle-content-table__head th {
  border-bottom: 1px solid #ececec;
  padding: 1rem 0rem;
  font-weight: 100;
}
/*# sourceMappingURL=style.css.map */